body {
    text-align: center;
}

#board {
    background-color: rgb(84, 12, 177);
    border-top: 5px solid rgb(237, 9, 9);
    border-left: 5px solid rgb(238, 8, 8);
    border-right: 5px solid rgb(244, 9, 9);
}